<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title>n575Database</title>
</head>

<body>
    {{ path }}
    <h1 class="p-3 mb-2 bg-dark text-white">重複チェック</h1>
    <h1>検索ワード : {{word}}</h1>
    {% if first is not None%}
    <blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
    <a href="https://twitter.com/{{first.scr}}/status/{{first.tw_id}}?ref_src=twsrc%5Etfw"></a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <p>↑最初にツイートした人</p>
    </table>
    <h3>n575ツイート一覧</h3>
    <table border="1" class="table table-striped table-hover table-sm">
        <thead class="table-dark">
        <tr>
            <th>date</th>
            <th>user</th>
            <th>text</th>
            <th>RT</th>
            <th>fav</th>
        </tr>
        </thead>
        {% for tweet in data %}
        <tr>
            <td><a href="https://twitter.com/{{tweet.scr}}/status/{{tweet.tw_id}}" target="_blank">{{ tweet.dt }}</a>
            </td>
            <td>{{ tweet.usr }} (<a href="/person/?user={{tweet.scr}}">@{{ tweet.scr }}</a>)</td>
            <td>{{ tweet.txt }}</td>
            <td>{{ tweet.ret }}</td>
            <td>{{ tweet.fav }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>このキーワードを含むn575はデータベースに存在しないようです。</p>
    {% endif %}
    <a class="btn btn-dark" href="/" role="button">トップページ</a>
</body>