{% extends 'base.html' %}
{% block content %}
    <h3>{{name}}さんの個人ページ</h3>
    <blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
    <a href="https://twitter.com/{{top.scr}}/status/{{top.tw_id}}?ref_src=twsrc%5Etfw"></a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </table>
    <table border="1" class="table table-striped table-hover table-sm">
        <thead class="table-dark">
        <tr>
            <th>date</th>
            <th>text</th>
            <th>RT</th>
            <th>fav</th>
        </tr>
        </thead>
        {% for tweet in data %}
        <tr>
            <td><a href="https://twitter.com/{{tweet.scr}}/status/{{tweet.tw_id}}" target="_blank">{{ tweet.dt }}</a>
            </td>
            <td>{{ tweet.txt }}</td>
            <td>{{ tweet.ret }}</td>
            <td>{{ tweet.fav }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}